@media screen {

	.hes-menu a[data-state]::after {
		content: ": " attr(data-state);
	}

	#settings_tab .line + .title.menu-hidden {
		color: gray;
	}

	#settings_tab .line + .title.menu-hidden + .menu {
		display: none;
	}

	/* Settings styles for < 700px height */
	@media screen and (max-height: 700px) {

		#navbar .nav_tabs_content {
			overflow: visible;
		}

		#navbar .nav_tabs_content #settings_tab {
			width: 400px;
		}

		#settings_tab .title,
		#settings_tab .menu {
			box-sizing: border-box;
			width: 50%;
		}

		#settings_tab .line {
			display: none;
		}

		#settings_tab .line + .title,
		#settings_tab .line + .title + .menu {
			position: absolute;
			right: 0;
			top: 0;
		}

		#settings_tab .line + .title + .menu {
			top: 49.8px;
		}
	}


	/* Unchecked links */
	.html_format.message a.unchecked_link,
	.html_format.message a.unchecked_link:visited {
		color: darkred;
	}
  
  .posts.hide .post[class*=hide-post] {
	  display: none !important
  }
  
  .posts.hide-partially .post[class*=hide-post] .hubs,
  .posts.hide-partially .post[class*=hide-post] .content,
  .posts.hide-partially .post[class*=hide-post] .megapost-head__hubs,
  .posts.hide-partially .post[class*=hide-post] .article__body {
	  display: none !important
  }

	.posts.hide-partially .post[class*=hide-post] .megapost-head__title,
	.posts.hide-partially .post[class*=hide-post] .megapost-head__title-link {
		font-size: 28px;
		max-width: none !important
	}

	.posts.hide-partially .post[class*=hide-post] .megapost-cover__company-blog {
		top: 0 !important
	}

	.posts.hide-partially .post[class*=hide-post] .megapost-head__meta {
		margin-bottom: 13px !important
	}

	.posts.hide-partially .post[class*=hide-post] .megapost-cover__img {
		height: 180px !important
	}

}
