@media screen {

	.dropdown_hes {
		margin-left: 12px;
	}

	.n-dropdown-menu_hes a[data-state]::after {
		content: ": " attr(data-state);
	}

	/* Hiding posts */
	.hes-hide .post[class*=hide-post] {
		display: none !important
	}

	.hes-hide-img .post .post__body img {
		display: none !important
	}

	.hes-hide-img .post .post__body .oembed {
		display: none !important
	}

	.hes-hide-partially .post[class*=hide-post] .post__hubs,
	.hes-hide-partially .post[class*=hide-post] .post__text,
	.hes-hide-partially .post[class*=hide-post] .preview-data__hubs,
	.hes-hide-partially .post[class*=hide-post] .article__body {
		display: none !important
	}

	.hes-hide-partially .post[class*=hide-post] .preview-data__title,
	.hes-hide-partially .post[class*=hide-post] .preview-data__title-link {
		font-size: 28px;
		max-width: none !important
	}

	.hes-hide-partially .post[class*=hide-post] .preview-data__meta {
		margin-bottom: 13px !important
	}

	.hes-hide-partially .post[class*=hide-post] .megapost-cover__img {
		height: 180px !important
	}

  .image-wrapper {
	  position: relative;
	  display: inline-block;
  }

  .image-wrapper .inverse-toggle {
	  position: absolute;
	  right: 10px;
	  top: 10px;
	  opacity: 0;
	  transition: all .3s ease-in-out;
	  width: 1em;
	  height: 1em;
	  display: inline-block;
	  cursor: pointer;
	  color: black;
  }

	.image-wrapper:hover .inverse-toggle {
		opacity: .3;
	}

	.image-wrapper .inverse-toggle:hover {
		opacity: 1;
	}

	.image-wrapper .image-inverted {
		filter: invert(1)
	}

  .image-wrapper .image-inverted + .inverse-toggle {
	  color: white;
  }
}
