@media screen {

	.dropdown_hes {
		margin-left: 12px;
	}

	.n-dropdown-menu_hes a[data-state]::after {
		content: ": " attr(data-state);
	}

	/* Unchecked links */
	.html_format.message a.unchecked_link,
	.html_format.message a.unchecked_link:visited {
		color: darkred;
	}

	/* Hiding posts */
	.posts.hide .post[class*=hide-post] {
		display: none !important
	}

	.posts.hide-img .post .content img {
		display: none !important
	}

	.posts.hide-img .post .content .oembed {
		display: none !important
	}

	.posts.hide-partially .post[class*=hide-post] .hubs,
	.posts.hide-partially .post[class*=hide-post] .content,
	.posts.hide-partially .post[class*=hide-post] .megapost-head__hubs,
	.posts.hide-partially .post[class*=hide-post] .article__body {
		display: none !important
	}

	.posts.hide-partially .post[class*=hide-post] .megapost-head__title,
	.posts.hide-partially .post[class*=hide-post] .megapost-head__title-link {
		font-size: 28px;
		max-width: none !important
	}

	.posts.hide-partially .post[class*=hide-post] .megapost-cover__company-blog {
		top: 0 !important
	}

	.posts.hide-partially .post[class*=hide-post] .megapost-head__meta {
		margin-bottom: 13px !important
	}

	.posts.hide-partially .post[class*=hide-post] .megapost-cover__img {
		height: 180px !important
	}

	/* mathjax editor button */
	.g-icon-tex::before {
		content: 'TeX';
		font-family: Verdana, sans-serif;
	}

  .image-wrapper {
	  position: relative;
	  display: inline-block;
  }

  .image-wrapper .inverse-toggle {
	  position: absolute;
	  right: 10px;
	  top: 10px;
	  opacity: 0;
	  transition: all .3s ease-in-out;
	  width: 1em;
	  height: 1em;
	  display: inline-block;
	  cursor: pointer;
	  color: black;
  }

	.image-wrapper:hover .inverse-toggle {
		opacity: .3;
	}

	.image-wrapper .inverse-toggle:hover {
		opacity: 1;
	}

	.image-wrapper .image-inverted {
		filter: invert(1)
	}

  .image-wrapper .image-inverted + .inverse-toggle {
	  color: white;
  }
}
